html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}

@font-face {
  font-family: "AbrilFatface-Regular";
  src: url("AbrilFatface-Regular.otf");
  }

@font-face {
  font-family: "raleway-bold";
  src: url("raleway-bold.ttf");
  }
 
body {
      font-family: 'Open Sans', sans-serif;
      
}
 


 
.content {
      width: 100%;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}
 
.logo {
      font-family: raleway-bold, open sans;
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 2px;
}
 
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}
 
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      font-weight: 300;
}

nav a:hover {
      text-shadow: 2px 2px 4px #000000;
      font-size: 210%;
      transition:all 0.3s ease;
}
 
nav.red ul {
      background: #740b1d;
}

nav.red a {
      color: #fff;
}
 
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}
 
nav ul li a {
      text-decoration: none;
      color: #740b1d;
      font-size: 30px;
}
 
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #740b1d;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

.item1 {
      margin-top: 27vh;
}

.item2 {
      margin-top: 2vh;
      background-color: #740b1d;
      width: 38%;
      font-size: 150%;
      text-align: center;
      color: white;
     
}



.item1, .item2 {
      /*margin-left: 3vw;*/
}
 
@media(max-width: 600px) {

  
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #fff;
      }
 
      nav.red ul {
            background: #fff;
      }

      nav.red a {
            color: #740b1d;
      }

 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }

      .item1 {
      margin-top: 15vh;
      font-size: 250%;
      text-align: center; 
       margin-left: 3vw; 
       letter-spacing: 1px;
       font-family: AbrilFatface-Regular, open-sans;
   

}

.item2 {
  display: block;
  margin: auto;
      margin-top: 2vh;
      background-color: #740b1d;
      width: 25%;
      font-size: 100%;
      text-align: center;
      color: white;
      font-weight: 300;
      border-radius: 50px;
     
}

.item3{
      margin-top: 12vh;
      font-family: AbrilFatface-Regular, open-sans;
      font-size: 250%;
      text-align: center;
}

.item4{
      margin-top: 25vh;
      font-size: 130%;
      text-align: center;
}

.item5{
      margin-top: 15vh;
      font-family: AbrilFatface-Regular, open-sans;
      font-size: 250%;
      text-align: center;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #740b1d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    font-size: 80%;
}

.containercontact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.FAQ-container {
      margin-left: 10%;
      margin-right: 10%;
}

.FAQ-container2{
      background-color: #000;
}

.small, .medium, .large {
      display: block;
      margin-left: 25%;
}

.color {
      float: left;
      width: 25%;
      padding: 15px;
      border-bottom: solid #babdc1 1.5px;
}

.color p{
      height: 5vh;
}

.color:after {
      display: block;
      clear: both;
}


h2{
      border-top: solid #babdc1 1.5px;
      padding-top: 35px;
}

.cost {
      border-top: none;
      margin-top: 225px;
}

span{
      font-weight: 800;
}

.container {
      margin-top: -3vh;
    position: relative;
    text-align: center;
    color: #665644;
    font-weight: 300;
    font-size: 100%;
}

.text1{
     position: absolute;
    top: 20px;
    right: 16%;
    font-weight: 600;
}

.text2{
      position: absolute;
    top: 45px;
    right: 20%;
    font-weight: 600;
}

.paws{
      width: 60%;
      }


}



.item5{grid-area: FAQ;}

.grid-container{
      display: grid;
      grid-template-areas: 'FAQ FAQ FAQ FAQ FAQ FAQ'

      }

.item3 {grid-area: contact;}
.item4 {grid-area: question;}

.grid-container{
      display: grid;
      grid-template-areas: 'contact contact contact contact contact contact'
                              'question question question question question question';
}

.grid-container > div {
  padding: 10px;
} 





.item1 {grid-area: header;}
.item2 {grid-area: main;}

.grid-container {
      display: grid;
      grid-template-areas: 
                              ' header header header header header header'
                            ' main main main main main main'  ;

                             }

     .grid-container > div {
  padding: 10px;
} 

.item2:hover{
             -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        transition:all 0.3s ease;
}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.logo-footer{
      display: inline;
      float: left;
}


.copyright{
      display: inline;
      float: right;
}

footer{
      padding: 7px;
}


















